@charset "utf-8";

$navbar-breakpoint: 480px !default;

@import "../node_modules/bulma/bulma.sass";

.active {
  font-weight: bold;
}

.loader {
  height: 80px;
  width: 80px;
}

.loader-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 10px;
}

.companies {
  width: 30%;
  border: black 1px solid;
  border-radius: 5px;
  margin: 5px;
}

.card-company {
  border: black 1px solid;
  margin-bottom: 5px;
}

.card-company-selected {
  background-color: #dad7cd;
}

.drugs {
  width: 60%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-wrap: wrap;
  border: black 1px solid;
  border-radius: 5px;
}

.card {
  width: 100%;
}

.card-cart {
  display: flex;
}

.card-image {
  width: 50%;
}

.media {
  display: block;
}
